dms-batch-processor/src/main/resources/xml/access-logs.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="FullAccessLogReport">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Access" type="xs:dateTime"/> <!-- todo: change to date instead of date time -->
                <xs:element name="AccessLog" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Accessor" type="xs:string"/>
                            <xs:element name="DocumentId" type="xs:long"/>
                            <xs:element name="AccessCount" type="xs:int"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>